.aboutUs {
  width:70%;
  margin:auto;
  font-size: 20px;
  line-height: 50px;
  text-align: justify;
  
}
.imgAboutUs {
  width: 100%;
}

@media (max-width:425px){
  .aboutUs{
    width:90%;
    margin:auto;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    
  }
}