.title{
  font-size: 200px;
  font-family: 'Amatic SC', cursive;
  color: black;
}
header a{
  text-decoration: none;
  color: white;
  font-size: 25px;
  background-color: #A21310;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 7px;
  opacity: 0.8;
  border: 1px solid black ;
}

header a:hover{
  color: white;
  background-color: black;
}