.newUser{
  width:80%;
  margin: auto;
  display: flex
}

.user{
  display: flex;
  margin: auto;
}
.user form{
  margin: auto;

}

.userData{
  width: 50%;
}
.userOrder{
  width:50%
}
 .userTable td:last-child{
  float: left;;
  text-align: left;
}

.userData button {
  padding: 10px;
  margin: 10px;
  border-radius: 7px;
}